/* VARIABLES */
:root{
    /* Paleta de colores */
    --color-principal:#D46A92;
    --color-secundario:#F8DDE8;
    --color-acento:#F4A8C4;
    --color-fondo:#FFF8FB;
    --color-blanco:#FFFFFF;
    --color-texto:#4B3B47;
    --color-gris:#777777;

    /* Tipografías */
    --titulo:'Playfair Display', serif;
    --texto:'Poppins', sans-serif;

    /* Sombras */
    --sombra:0 8px 20px rgba(0,0,0,.10);

}

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:var(--texto);
    background:var(--color-fondo);
    color:var(--color-texto);
}

img{
    width:100%;
    display:block;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
}

/* ESTILOS GENERALES */
.contenedor{
    width:90%;
    max-width:1200px;
    margin:auto;
}

section{
    padding:80px 0;
}

h1,h2,h3{
    font-family:var(--titulo);
}

/* 1. HEADER */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px; 
    background:white;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:100px;
}

/* MENÚ - ESTILOS Y EFECTO HOVER*/
.header{
    width:100%;
    background:#ffffff;
    padding:20px 0;
}

/* CONTENEDOR DEL HEADER */
.contenedor{
    width:90%;                    /* El encabezado ocupa el 90% del ancho de la pantalla */
    max-width:1200px;             /* Evita que el contenido sea demasiado ancho */
    margin:0 auto;                /* Centra el contenedor horizontalmente */
    display:flex;                 /* Coloca logo y menú en una misma fila */
    justify-content:space-between;/* Logo a la izquierda y menú a la derecha */
    align-items:center;           /* Centra verticalmente los elementos */
}

/* LOGO */
.logo img{
    width:120px;      /* Tamaño del logo */
    height:auto;      /* Conserva la proporción */
    display:block;    /* Elimina espacios innecesarios */
}

/* MENÚ */
.menu ul{
    display:flex;         /* Coloca las opciones horizontalmente */
    gap:35px;             /* Espacio entre opciones */
    list-style:none;      /* Elimina las viñetas */
    margin:0; 
    padding:0;
}

/* ENLACES */
.menu a{
    text-decoration:none;
    color:#333;
    font-size:18px;
    font-weight:600;
    transition:0.3s;
}

/* HOVER */
.menu a:hover{
    color:#D46B9D;
}

/* HEADER del Banner */
.header{
    width: 100%;
    background: #ffffff;   /* Fondo blanco */
    position: relative;
    z-index: 1000;         /* Siempre queda por encima del banner */
}

/* BANNER */
.banner{
    background-image: url("../img/Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 80px 10%;
}

/* TEXTO */
.banner-texto{
    width:45%;
}

/* TÍTULO PRINCIPAL SOBRE EL BANNER */
.banner-texto h1{
    font-size: 70px;
    color: #D46A96;
    margin-bottom: 20px;
    -webkit-text-stroke: 0,5px #FFFFFF;            /* Contorno del texto */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);  /* Sombra del texto */
}

.banner-texto h2{
    font-size:45px;
    color:#ffffff;
    margin-bottom:25px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);   /* Sombra del texto */
}

.banner-texto p{
    font-size:26px;
    color:#ffffff;
    line-height:45px;
    margin-bottom:45px;      
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);    /* Sombra del texto */
}

/* CONTENEDOR DE BOTONES */
.botones{
    display:flex;
    gap:20px;
}

/* BOTÓN PRINCIPAL */
.btn{
    background:#D46A96;
    color:white;
    padding:18px 45px;
    border-radius:40px;
    text-decoration:none;
    font-size:22px;
    transition:.3s;
    box-shadow:0px 6px 15px rgba(0,0,0,.20);       /* Sombra del botón */

}

.btn:hover{
    background:#B54E79;
    box-shadow:0px 10px 20px rgba(0,0,0,.30);     /* La sombra aumenta al pasar el cursor */
}

/* BOTÓN SECUNDARIO */
.btn2{
    border:2px solid #D46A96;
    color:#D46A96;
    padding:18px 45px;
    border-radius:40px;
    text-decoration:none;
    font-size:22px;
    transition:.3s;
    box-shadow:0px 6px 15px rgba(0,0,0,.20);    /* Sombra del botón */
}

.btn2:hover{
    background:#D46A96;
    color:white;
    box-shadow:0px 10px 20px rgba(0,0,0,.30);    /* La sombra aumenta al pasar el cursor */

}

/* IMAGEN */
.banner-imagen{
    width:55%;
    display:flex;
    justify-content:flex-end;
}

.banner-imagen img{
    width:100%;
    max-width:820px;
    border-radius:25px;
    box-shadow:0px 15px 40px rgba(0,0,0,.15);
}


/* 2. NOSOTROS */
.banner-nosotros{
    width:100%; 
    height:160px; 
    background:linear-gradient(135deg, #F8DDE8); 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    padding:20px 5%; 
    position:relative; 
    overflow:hidden;
    box-shadow:
    0 8px 20px rgba(212,106,146,.20);
}
/* TITULO NOSOTROS  */
.titulo-nosotros{
    margin-left:80px;   /*Distancia del titulo nosotros con respecto al borde izquierdo del banner*/ 
}

.titulo-nosotros h1{
    font-family:var(--titulo);
    font-size:90px;
    color:#D46A92;
    margin:0;
    text-shadow:2px 3px 8px rgba(0,0,0,.10);  
}

/* MENU NOSOTROS  */
.menu-nosotros{
    display:flex;
    align-items:center;
    gap:35px;
    margin-left:auto;
    margin-right:200px; /*Distancia del menu nosotros con respecto al borde derecho del banner*/
}

.menu-nosotros a{
    font-family:var(--texto);
    color:#4B3B47;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.menu-nosotros a:hover{
    color:#D46A92; /* Color del texto al pasar el cursos */
    transform:translateY(-3px); /* Efecto de desplazamiento hacia arriba al pasar el cursor */
}

/* FLOR DERECHA  */
.flor-derecha{
    position:absolute;
    right:40px; 
    bottom:0px;
    width:160px;
    margin-right:50px; /*Distancia de la flor deerecha con respecto al borde derecho del banner*/
    height:auto;
    object-fit:contain;
    filter: drop-shadow(0 8px 15px rgba(0,0,0,.20)); /* Sombra de la flor derecha */
}

/* HISTORIA */
.seccion-nosotros{
    width:90%;
    max-width:1200px;
    margin:-20px auto 0;
}

.seccion-nosotros h2{
    text-align:center;
    font-family:var(--titulo);
    color:#D46A92;
    font-size:55px;
    margin-bottom:10px;
}

.seccion-nosotros > p{
    text-align:center;
    font-size:20px;
    line-height:32px;
    margin-bottom:45px;
}

/* TARJETAS  */
.tarjetas-nosotros{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
}

.tarjeta{
    background:white;
    padding:40px 30px;
    border-radius:25px;
    box-shadow:
    0 10px 25px rgba(212,106,146,0.15);
    text-align:center;
    border-top:5px solid #F4A8C4;
    transition:.3s;
}

.tarjeta:hover{
    transform:translateY(-10px);
}

.tarjeta h3{
    color:#D46A92;
    font-size:40px;
    margin-bottom:10px;
}

.tarjeta p,
.tarjeta li{
    font-size:20px;
    line-height:30px;
}

/* ALINEACIÓN DE VIÑETAS */
.tarjeta ul{
    text-align:left;
    padding-left:30px;
    margin:0 auto;
    max-width:250px;
}

.tarjeta li{
    font-size:20px;
    line-height:30px;
    margin-bottom:8px;
}


/* RESPONSIVE */
@media(max-width:900px){
    .tarjetas-nosotros{
        grid-template-columns:1fr;
    }
    .banner-nosotros .flor-derecha{
        width:120px;
    }

    .contenido-nosotros h1{
        font-size:50px;
    }
}


/* 3. SERVICIOS */
/* BANNER */
.banner-servicios{
    width:100%;
    height:160px;
    background:linear-gradient(135deg,#F8DDE8);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 5%;
    position:relative;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(212,106,146,.20);
}

/* TÍTULO */
.titulo-servicios{
    margin-left:80px;
}

.titulo-servicios h1{
    font-family:var(--titulo);
    font-size:90px;
    color:#D46A92;
    margin:0;
    text-shadow:2px 3px 8px rgba(0,0,0,.10);
}

/* MENÚ */
.menu-servicios{
    display:flex;
    align-items:center;
    gap:35px;
    margin-left:auto;
    margin-right:200px;
}

.menu-servicios a{
    font-family:var(--texto);
    color:#4B3B47;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.menu-servicios a:hover{
    color:#D46A92;
    transform:translateY(-3px);
}

/* FLOR */
.banner-servicios .flor-derecha{
    position:absolute;
    right:40px;
    bottom:0;
    width:160px;
    margin-right:50px;
    filter:drop-shadow(0 8px 15px rgba(0,0,0,.20));
}

/* INTRODUCCIÓN */
.introduccion-servicios{
    width:90%;
    max-width:1200px;
    margin:-20px auto 50px;
    text-align:center;
}

.introduccion-servicios h2{
    font-family:var(--titulo);
    color:#D46A92;
    font-size:55px;
    margin-bottom:10px;
}

.introduccion-servicios p{
    font-family:var(--texto);
    color:#4B3B47;
    font-size:20px;
    line-height:32px;
    max-width:1100px;
    margin:auto;
}

/* CONTENEDOR */
.contenedor-servicios{
    width:90%;
    max-width:1200px;
    margin:-170px auto 70px;  /* Ajusta el margen superior para que las tarjetas se superpongan ligeramente con la introducción */
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
}

/* TARJETAS */
.card-servicio{
    background:#FFFFFF;
    border-radius:25px;
    overflow:hidden;
    border-top:5px solid #F4A8C4;
    box-shadow:0 10px 25px rgba(212,106,146,.15);
    transition:.3s;
    display:flex;
    flex-direction:column;
}

.card-servicio:hover{
    transform:translateY(-10px);
}

/* IMAGEN */
.card-servicio img{
    width:100%;
    height:250px;
    object-fit:cover;
}

/* INFORMACIÓN */
.info-servicio{
    padding:30px;
    text-align:center;
    display:flex;
    flex-direction:column;
    flex:1;
}

.info-servicio h3{
    font-family:var(--titulo);
    color:#D46A92;
    font-size:40px;
    margin-bottom:15px;
}

.info-servicio p{
    font-family:var(--texto);
    color:#4B3B47;
    font-size:20px;
    line-height:30px;
    margin-bottom:25px;
    flex:1;
}

/* BOTÓN */
.btn-servicio{
    background:#D46A96;
    color:#FFFFFF;
    padding:15px 35px;
    border-radius:40px;
    font-family:var(--texto);
    font-size:18px;
    font-weight:600;
    text-decoration:none;
    transition:.3s;
    align-self:center;
    box-shadow:0 6px 15px rgba(0,0,0,.20);
}

.btn-servicio:hover{
    background:#B54E79;
    box-shadow:0 10px 20px rgba(0,0,0,.30);
}

/* RESPONSIVE */
@media(max-width:950px){
    .contenedor-servicios{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:650px){
    .contenedor-servicios{
        grid-template-columns:1fr;
    }

    .titulo-servicios h1{
        font-size:55px;
    }

    .introduccion-servicios h2{
        font-size:40px;
    }

    .info-servicio h3{
        font-size:32px;
    }
}

/* 4. CATÁLOGO */

/* 5. GALERÍA */

/* 6. CONTACTO */

/* 7. FOOTER */




